# Python / Django
__pycache__/
*.py[cod]
venv/
db.sqlite3
.env

# Node / React
node_modules/
dist/
.eslintcache

# Python / Django
backend/venv/
backend/__pycache__/
backend/db.sqlite3
backend/.env

# Node / React
frontend/node_modules/
frontend/dist/
frontend/.env